@import "https://use.typekit.net/tku4ykv.css";
@import "tailwindcss";

@theme {
  --font-sans: "filson-soft", sans-serif;

  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-turquoise: #34a6a2;
  --color-turquoise-dark: #308b90;
  --color-purple: #211d47;
  --color-red: #e52020;
  --color-green: var(--color-turquoise);
  --color-gray-50: #f9f9f9;
  --color-gray-75: #f2f1f4;
  --color-gray-100: #dbdce2;
  --color-gray-200: #6e7c8f;
}

@layer base {
  body {
    @apply bg-gray-100/20 text-purple;
  }
}

@utility animate-shake {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@utility bg-lines-gradient {
  background: repeating-linear-gradient(
    -45deg,
    var(--color-gray-50),
    var(--color-gray-50) 40px,
    var(--color-gray-75) 40px,
    var(--color-gray-75) 80px
  );
}

@layer components {
  .input {
    @apply border-2 border-purple outline-0 outline-transparent py-5 px-7 rounded-full transition-all;
    &.error {
      @apply text-red border-red outline-3 outline-red/40;
    }
    &.success {
      @apply text-green border-green outline-3 outline-green/40;
    }
  }

  .radio-item {
    @apply block font-normal w-full p-5 border-2 border-purple rounded-full text-center relative;
    &.error {
      @apply text-red border-red outline-3 outline-red/40;
    }
    &.success,
    &[data-checked] {
      @apply text-green border-green outline-3 outline-green/40;
    }
  }

  .input-error {
    @apply text-red text-sm mt-1;
  }

  .rich-text {
    @apply font-light;
    blockquote {
      @apply bg-purple text-white p-5 rounded-md;
    }
    b,
    strong {
      @apply font-medium;
    }
  }

  .tooltip {
    &:before {
      content: "";
      @apply absolute border-t-white border-r-white border-b-transparent border-l-transparent rounded-t-lg border-solid;
      top: -14px;
      left: 50%;
      margin-left: -16px;
      border-width: 16px;
      transform: rotate(-45deg);
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
